@font-face {
    font-family: "Lemon Milk";
    font-weight: 700;
    src: url("assets/fonts/LEMONMILK-Bold.woff") format("woff");
} 
@font-face {
    font-family: "Lemon Milk";
    font-weight: 500;
    src: url("assets/fonts/LEMONMILK-Medium.woff") format("woff");
} 
@font-face {
    font-family: "Lemon Milk";
    font-weight: 400;
    src: url("assets/fonts/LEMONMILK-Regular.woff") format("woff");
} 
@font-face {
    font-family: "Lemon Milk";
    font-weight: 300;
    src: url("assets/fonts/LEMONMILK-Light.woff") format("woff");
} 