.orderPlacedWrapper {
  background-color: #fff;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.orderPlacedMainWrapper {
  margin-bottom: 0;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.orderPlacedMainWrapper::before {
  background: linear-gradient(270deg, #e9530e, #e4003f);
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 999;
}

:global(.vtex-flex-layout-0-x-flexRowContent--headerImage) {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--headerImage)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
}

:global(.vtex-store-components-3-x-imageElement--headerImageSrc) {
  width: 140px;
}

.section {
  width: 100% !important;
  max-width: 1440px !important;
}

.confirmationTitle {
  font-family: "Lemon Milk", "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.confirmationMessage {
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
}

.section--bank-invoice {
  margin-bottom: 0;
}

.section--confirmation,
.section--bank-invoice,
.section--deliveryPackages,
.section--paymentMethods,
.customerInfoListContainer {
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.03);
  padding: 24px;
}

.customerInfoListContainer,
.section--paymentMethods {
  margin-bottom: 24px;
}

.section--paymentMethods::before {
  content: "Pagamento";
  font-family: "Lemon Milk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  color: #3c3c3b;
  margin-bottom: 24px;
}

.orderPaymentItem:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .orderPaymentItem:last-child {
    padding-bottom: 24px;
  }
}

.orderOptionsWrapper--mobile {
  margin-bottom: 0;
}

.paymentGroup {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
  font-size: 14px;
  padding-bottom: 8px;
}

.paymentValue {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #3c3c3b;
}

.customerInfoListContainer::before {
  content: "Seus dados";
  font-family: "Lemon Milk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  color: #3c3c3b;
  margin-bottom: 24px;
}

.customerInfoListName,
.customerInfoListEmail,
.customerInfoListDocument,
.customerInfoListPhone {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #3c3c3b;
}

.section--pickupPackages:empty {
  border: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--confirmationButtons) {
  margin: 0;
}

.printHintWrapper {
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
}

.orderNumber {
  font-family: "Lemon Milk";
  font-size: 16px;
  font-weight: 700;
}

.totalListWrapper {
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.03);
  padding: 24px;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
}

.totalList::before {
  content: "Resumo";
  font-family: "Lemon Milk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  color: #3c3c3b;
  margin-bottom: 24px;
}

.totalList {
  width: 100%;
  margin-top: 0;
}

.totalListItem:last-child .totalListItemValue {
  font-family: "Lemon Milk", "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.totalListItem:last-child .totalListItemLabel {
  font-family: "Inter", sans-serif;
  font-weight: 14px;
}

.totalListItem {
  border-bottom: 1px solid #ededed;
  padding: 24px 0;
}

.totalListItem:first-child {
  border-top: 1px solid #ededed;
}

.totalListItem:last-child {
  border-bottom: 0;
}

.totalListItemLabel,
.totalListItemValue {
  color: #3c3c3b;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 980px) {
  .totalListItem:last-child .totalListItemValue {
    font-size: 16px;
  }

  .totalListItem:last-child .totalListItemLabel {
    font-size: 16px;
  }
}

.orderSoldBy {
  display: none;
}

.orderDatetime {
  font-family: "Inter", sans-serif;
  color: #8e8e8d;
  font-size: 14px;
}

.package--delivery {
  margin: 0;
}

.packageDeliveryTitle {
  display: block;
  font-size: 0;

  &::after {
    content: "Recebimento";
    font-family: "Lemon Milk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: block;
    color: #3c3c3b;
  }
}

.addressContainer, .packageShippingEstimate, .packageSLA {
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
  font-size: 14px;
}

.productName {
  font-family: "Inter", sans-serif;
  color: #3c3c3b;
  font-size: 14px;
  font-weight: 700;
  display: block;
}

.productPrice {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #3c3c3b;
}