.checkout-header {
  padding-top: 32px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1440px;
  }

  &--logo {
    height: 41px;

    @include desktop {
      height: 49px;
      width: 140px;
      object-fit: cover;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__help {
    border: none;
    outline: none;
    border-radius: 300px;
    font-family: $font-popping;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: max-content;

    svg {
      margin-left: 4px;
    }

    @include desktop {
      position: fixed;
      bottom: 32px;
      right: 32px;
      z-index: 101;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-inter;
    font-weight: bold;
    font-size: 12px;
    line-height: 9px;

    @include desktop {
      gap: 24px;
    }

    span,
    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &--wpp {
      color: $color-green;
      text-decoration: underline;

      &:hover {
        color: $color-green;
      }
    }
  }
}

.neoasssist-widget-frame {
  bottom: 90px !important;

  @include desktop {
    bottom: 20px !important;
  }
}