.shipping-data {
  .vtex-omnishipping-1-x-backToAddressList {
    background-color: $color-black;
    color: white;
    border: none;
    width: fit-content;
    text-shadow: none;
    font-family: "Inter";
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px;
    font-size: 13px;

    &:hover {
      color: white;
    }
  }

  .vtex-omnishipping-1-x-addressList {
    p.address-edit {
      display: inline-block;
      margin-right: 8px;
    }

    p.address-create {
      display: inline-block;
    }

    .vtex-omnishipping-1-x-buttonEditAddress,
    .vtex-omnishipping-1-x-buttonCreateAddress {
      background-color: $color-black;
      color: white;
      border: none;
      width: auto;
      text-shadow: none;
      font-family: "Inter";
      height: 40px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 12px;
      font-size: 13px;
      border-radius: 30px;

      &:hover {
        color: white;
      }
    }

    .vtex-omnishipping-1-x-addressItemOption {
      border: 1px solid $color-stroke2;
      border-radius: 6px;
      padding: 11px 16px;
      background-color: white;
      box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.03);

      + .vtex-omnishipping-1-x-addressItemOption {
        margin-top: 8px;
      }

      .vtex-omnishipping-1-x-addressItemIcon {
        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%238E8E8D'/%3E%3C/svg%3E%0A");
          width: 18px;
          height: 18px;
          margin-right: 8px;
          flex-shrink: 0;
        }
        svg {
          display: none;
        }
      }

      &.vtex-omnishipping-1-x-active {
        border-color: $color-black;

        .vtex-omnishipping-1-x-addressItemIcon {
          &::before {
            display: inline-block;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9.95312' r='6.5' stroke='%233C3C3B' stroke-width='5'/%3E%3C/svg%3E%0A");
            width: 18px;
            height: 19px;
            margin-right: 8px;
          }
        }
      }
    }
  }

  .vtex-omnishipping-1-x-address {
    p {
      width: 100%;
    }

    label {
      font-family: $font-inter;
      font-size: 11px;
      font-weight: 500;
      position: absolute;
      top: 11px;
      left: 16px;
      line-height: 8px;
      z-index: 10;
    }

    p.ship-state,
    p.ship-number {
      margin-bottom: 8px;
      margin-right: 0;

      @include desktop {
        max-width: 124px;
      }
    }

    p.ship-street,
    p.ship-complement {
      @include desktop {
        margin-right: 8px;
      }
    }

    p.ship-street label {
      font-size: 0;

      &::after {
        content: "Rua";
        font-size: 11px;
      }
    }

    p.ship-complement label {
      font-size: 0;

      &::after {
        content: "Complemento (opcional)";
        font-size: 11px;
      }
    }

    p.ship-receiverName {
      order: 2;

      label {
        font-size: 0;

        &::after {
          content: "Quem irá receber";
          font-size: 11px;
        }
      }
    }
  }

  .vtex-omnishipping-1-x-leanShippingGroupList {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .shp-lean-option {
      border: 1px solid $color-stroke2;
      border-radius: 6px;
      box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 3%);
      padding: 11px 16px;
      background-color: white;

      .shp-option-icon {
        display: none;
      }

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%238E8E8D'/%3E%3C/svg%3E%0A");
        width: 18px;
        height: 18px;
        margin-right: 8px;
        flex-shrink: 0;
      }

      &.shp-lean-option-active {
        background-color: white;
        border-color: $color-black;

        &::before {
          display: inline-block;
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9.95312' r='6.5' stroke='%233C3C3B' stroke-width='5'/%3E%3C/svg%3E%0A");
          width: 18px;
          height: 19px;
          margin-right: 8px;
        }
      }

      .shp-option-text {
        display: flex;
        align-items: center;
        font-family: $font-inter;
        font-size: 13px;
        font-weight: 500;
        line-height: normal;
        color: $color-black;

        .shp-option-text-label {
          margin: 0;
          text-transform: capitalize;
        }

        .shp-option-text-package {
          margin-left: auto;
          border: 1px solid $color-black;
          border-radius: 3px;
          display: flex;
          height: 21px;
          align-items: center;
          justify-content: center;
          padding: 0 6px;
          white-space: nowrap;
        }
      }

      .shp-option-text-price {
        text-transform: uppercase;
        font-family: $font-inter;
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        padding-left: 8px;
        border: none;
        color: $color-black;
      }
    }
  }

  a.client-masked-info {
    display: none;
  }
}

.vtex-omnishipping-1-x-leanShippingText {
  border-right: 0;
}